.container {
  max-width: 1403px;
  padding: 0 42px;
  width: 100%;
  margin: 0 auto;
}

.container_all {
}
.container_fluid {
  max-width: 1503px;
  padding-top: 50px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* /******** degital section  start************* */

.side_btn_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.side_btn {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.ant-carousel .slick-dots-bottom {
  bottom: 12px;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background: red;
}

.work_wrapper {
  padding: 50px 0;
  margin: 0;
}

.degital_row {
  padding: 10px 0;
}

.work_wrapper_h1 {
  margin: 20px 0;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;    font-family: 'Satoshi';
  line-height: 52px;
}

.work_wrapper_h1 span {
  color: #2e8096;
}

.work_wrapper_p {    margin-top: 20px;
  font-size: 16px;
  font-weight: 400;  
  line-height: 32px;
}

.read_btn4 {
  height: 60px;
  background-color: transparent;
  padding: 5px 5px 5px 0;
  font-size: 16px;
  display: flex;
  border: none;
  margin: 0;
  align-items: center;
  cursor: pointer;    font-weight: 500;
}

.bi_arrow {
  margin-left: 5px;z-index: 2;
}

.read_btn4:hover .bi_arrow {
  margin-left: 10px;
  transition: all 0.4s ease;
}

.try_work {
  background-color: #f2f7ec;
  border-radius: 8px;
  padding: 32px;
  min-height: 434px;
  position: relative;
  margin: 10px;
}

.work_text h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Satoshi';
  line-height: 32px;
  color: hsla(87.39130434782608, 29.48%, 43.05%, 1.00);
}

.work_text {
  padding: 0 0 10px 0;
}

.work_text p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Satoshi';
}

.video_box {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: fit-content;
}

/* .work_wrapper img {
  max-width: 100%;
  border-radius: 8px;
  float: right;
} */

.try_work2 {
  background-color: #edf6ff;
  border-radius: 8px;
  padding: 32px;
  min-height: 434px;
  position: relative;
  margin: 10px 10px 10px 0;
}

.work_text2 {
  padding: 0 0 10px 0;
}

.work_text2 h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #4e87c1;
}

.work_text2 p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Satoshi';
}

.try_work3 {
  background-color:#F4F4FF;
  border-radius: 8px;
  padding: 32px;
  min-height: 434px;
  position: relative;
  margin: 10px 10px 10px 0;

  font-family: 'Satoshi';
}

.work_text3 {
  padding: 0 0 10px 0;
}

.work_text3 h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #6c6cb6;
}

.work_text3 p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.try_work4 {
  background-color: hsla(194.99999999999994, 45.45%, 91.37%, 1);
  border-radius: 8px;
  padding: 32px;
  min-height: 434px;
  font-family: 'Satoshi';
  position: relative;
  margin: 10px;
}

.work_text4 {
  padding: 0 0 10px 0;
}

.work_text4 h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #2e8096;
}

.work_text4 h2 span {
  color: #2e8096;
}

.work_text4 p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

/* /******** degital section  end************* */

/* /******** trust section  start************* */
.trust_wrapper {
  padding: 50px 0;
}

.trust_Img2 {
  width: 79px;
  height: 92px;
  filter: grayscale();
}

.trust_Img2:hover {
  filter: none;
}

.trust_Img3 {
  width: 237px;
  height: 56px;
  filter: grayscale();
}

.trust_Img3:hover {
  filter: none;
}

.trust_Img5 {
  width: 263px;
  height: 48px;
  filter: grayscale();
}
.trust_Img5:hover {
  filter: none;
}

.trust_wrapper_h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}
.trust_wrapper_p {
  margin-top: 12px;
  padding-right: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.trust_box {
  padding: 40px 0;
}

.trust_box_ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.trust_box_ul li {
  padding: 0 0 0 0;
  margin: 0;
}

.fluid {
  max-width: 100%;
  width: 100%;
  filter: grayscale();
}
.fluid:hover {
  filter: none;
}

.img_last {
  max-width: 263px;
  min-height: 49px;
  width: 100%;
  height: 100%;
}

/* /******** trust section  end************* */

/* /******** contact  section  start************* */

.form_wrapper {
  padding: 100px 00;
  margin: 0;
}

.ant-input:hover {
  display: none;
}

.form_row {
  max-width: 1120px;
  margin: 0 auto;
}

.name {
  width: 100%;
  max-width: 100%;
  display: flex;
  padding: 1px 0;
  margin: 0;
}

.name_left {
  float: left;
  max-width: 50%;
  width: 100%;
  padding: 0 5px 0 0;
}

.name_right {
  float: right;
  max-width: 50%;
  width: 100%;
}

.form_box h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.form_box p {
  margin: 12px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.form {
  min-height: 60px;
  background-color: #f9f9f9;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  font-size: 18px;
  line-height: 25px;
  width: 100%;

  margin-bottom: 24px;
}

.input .form {
  color: gray;
}

.select {
  min-height: 60px;
  background-color: #f9f9f9;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  margin: 10px 0;
  color: #5e6062;
}

.check {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 10px 0 0;
}

.check span {
  padding-inline-end: 0px;
}

.check span .ant_checkbox {
  border: 3px solid black;
}

.check.ant-checkbox .ant-checkbox-inner {
  border: 3px solid black;
}

.form_box_h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  padding: 0;
  margin: 20px 00 0 0;
}

.form_wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}

.form_wrapper ul li {
  padding: 0 0px;
  margin: 0;
}

.textarea {
  width: 100%;
  max-width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px 16px;
  font-size: 18px;
  line-height: 25px;
}

.form .ant-input:focus {
  border: 1px solid black;
}

.submit {
  background-color: #2e8096;
  border: 1px solid transparent;
  padding: 16px;
  margin: 10px 0;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
}

.submit:hover {
  background-color: #fff;
  color: #2e8096; 
  border: 1px solid #2e8096; transition: all  0.3s ease-in ;
}


.form_wrapper h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.form_wrapper h4 span {
  color: #2e8096;
}

.meet_box p {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 10px 0;
}

.meet_box {
  background-color: #f9f9f9;
  padding: 32px;
  border-radius: 8px;
  margin: 30px 0 0 60px;
  width: 100%;      max-width: fit-content;
}



.contact_Img {   border-radius: 6px;    margin-left: 60px;
  width: -webkit-fill-available;
  }

/* /******** contact  section  end************* */

.client_wrapper {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 150px;
}

.client_wrapper h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.client_wrapper h1 span {
  color: #2e8096;
}

.client_box {
  background-color: red;
  border: 0.77px solid #d8d8d8;
  border-radius: 6.18px;
  margin-right: 24px;
  padding: 10px 14px 14px 20px;
  width: 500px;
  height: 350px;
  border: 1px solid black;
}

.client_star {
  width: 14px;
  height: 13px;
}

.client_box h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  gap: 4px;
}

.client_box h3 {
  margin-top: 45px;

  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
}

.client_box h6 {
  color: #4f5357;
  font-size: 12.99px;
  line-height: 19.32px;
  font-weight: 400;
}

/* .stick-active {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 50px;
}

.ant-carousel .slick-dots-bottom{
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 50px;
}  

.carousel_btn  .slick-dots li {
  background-color: blue;
}

.carousel_btn .ant-carousel .slick-dots li button:hover{
  background-color: blue;
} */

.client_box ul {
  display: flex;
}

.client_box p {
  margin-top: 11px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.4px;
}

@media (max-width: 1200px) {
 
  .form_wrapper ul li {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .contact_Img {   border-radius: 6px;    margin-left: 0px;
    max-width: 100%; width: 100%;}
    .meet_box {
      background-color: #f9f9f9;
      padding: 32px;
      border-radius: 8px;
      margin: 30px 0 0 60px;
      width: 100%;
      max-width: fit-content;
    }
  .form_row {
    max-width: 550px;
    margin: 0 auto;
  }

  .form_wrapper ul li {
    font-size: 16px;
  }
  .form_wrapper ul {
    list-style: none;
    display: block;
  }
  .meet_box {
    margin: 30px 0 0 0px;
  }

  .form_wrapper img {
    margin: 0 0 0 0px;
  }
}

@media only screen and (max-width: 768px) {
  .form {
    font-size: 16px;
    padding: 12px;
  }
  .form_wrapper {
    padding: 50px 00;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
  .work_text4 p {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
  }

  .client_box {
    width: 450px;
    height: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .footer_wrapper {
    padding: 20px 0;
  }
  .name {
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 1px 0;
    margin: 0;
  }
  .name_left {
    float: none;
    max-width: 100%;
  }
  .name_right {
    float: none;
    max-width: 100%;
  }
  .form {
    font-size: 14px;
    margin: 5px 0;
  }
  .select {
    font-size: 14px;
    margin: 5px 0;
    padding: 12px;
  }
  .textarea {
    font-size: 14px;
    margin: 5px 0;
    padding: 7px 10px;
  }
  .form_wrapper p {
    line-height: 130%;
    padding: 10px 0 20px 0;
  }
}

@media only screen and (max-width: 468px) {
  .work_wrapper img {
    max-width: 100%;
    border-radius: 8px;
    float: right;
  }

  .client_box {
    width: 280px;
    height: 450px;
  }
}

.OurSolution_wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.solution_heading {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

.solution_heading h1 {
  margin-top: 20px;    font-family: 'Satoshi';
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}
.solution_heading h1 span {
  color: #2e8096;
}
.solution_heading p {
  text-align: center;
  padding: 0;   font-family: 'Satoshi';
  margin-top: 12px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
}
.main_btn_box {
  max-width: 482px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
.solution_btn_box {
  background-color: #f4f4f4;
  border-radius: 90px;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  padding: 6px;
  grid-gap: 10px;
  display: flex;
}

.startup_btn {
  width: 150px;
  min-height: 40px;
  text-align: center;
  border-radius: 80px;
  padding: 4px 24px;
  font-size: 18px;
  background-color: #f4f4f4;
}

.sme_btn {
  width: 150px;
  min-height: 40px;
  font-weight: 700;
  text-align: center;
  border-radius: 80px;
  padding: 4px 24px;
  font-size: 18px;
}
.enterprise_btn {
  width: 150px;
  min-height: 40px;
  text-align: center;
  border-radius: 80px;
  padding: 4px 24px;
  font-size: 18px;
  background-color: #f4f4f4;
}

.enterprise_btn:focus {
  background-color: #2e8096;
  color: #ebebeb;
  font-weight: 700;
}

.startup_btn:focus {
  background-color: #2e8096;
  color: #ebebeb;
  font-weight: 700;
}
